<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, required: true %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, required: true %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select(:gender, options_for_select([['MALE', 'male'],['FEMALE','female'],['N/A','N/A']]))  %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.select :age, (20..100)%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
